<h3>Request Detail</h3>

{% with action=condition.get_action %}

    <p>{{ action.get_description }}</p>

    <p>{{ action.actor }} has <i>conditional</i> permission to take that action.</p>

    <p>In order for the action to go through, {{ condition.description_for_passing_condition }}.</p>

    <p>The following permissions apply:
        {% for permission in condition.description_permissions %}
            {{ permission }} <br/>
        {% endfor %}
    </p>

    <p>The current status is: {{ condition.description_status }}.</p>

    {% ifequal condition.descriptive_name "Approval Condition" %}
        {% include "conditionals/approval_include.html" with action=action %}
    {% endifequal %}

    {% ifequal condition.descriptive_name "Vote Condition" %}
        {% include "conditionals/vote_include.html" with action=action condition=condition %}
    {% endifequal %}

{% endwith %}

{% include "actions/action_history.html" with actions=all_actions %}

