<table>
        <tr>
          <th>Created</th>
          <th>Status</th>
          <th>Actor</th> 
          <th>Description</th>
          <th>Condition</th>
          <th>Log</th>
        </tr>

        {% for action in actions %}
        <tr>
            <td> {{ action.created_at }} </td>
            <td> {{ action.status }} </td>
            <td> {{ action.actor }} </td>
            <td> {{ action.get_description }} </td>
            <td> {{ action.get_condition_link|safe }}</td>
            <td> {{ action.log }} </td>
        </tr>
        {% endfor %}

</table>